*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family :Arial, sans-serif;
}

html, body {
    height: 100%;
    background-color: #000000;
}

.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  overflow-x: auto;
}
.card{
  flex: 0 1 230px; /* IMPORTANT */
  width: 230px;
  height: 300px;
  border: 1.5px solid rgb(126, 126, 126);
  border-radius: 15px;
  background-color: #fff;
  padding: 14px;
}

.card img{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.top{
  display: flex;
  justify-content: space-between;
}

.top button{
  border: 1px solid rgb(68, 68, 68);
  border-radius: 5px;
  margin: 9px 2px;
  padding: 1px 5px;
  color: #5e5e5e;
}
.top button i{
  color: #5e5e5e;
}

.center{
  margin-top: 20px;
}
.center span{
  font-size: 10px;
  font-width: 100;
  color: #666666;
}

.center h3{
 font-weight:600;
}
.job-type{
  margin-top: 15px;
  display: flex;
  gap: 7px;
  font-size: 12px;
}

.time{
  border: 1px solid rgb(204, 204, 204);
  background-color: #e2e2e2;
  padding: 2px;
  border-radius:3px;
}


.buttom{
  margin-top: 80px;
  display: flex;
}

.location{
  flex-direction: column;
}

.button button{
  margin-top: 10px;
  padding: 5px 5px;
  margin-left: 25px;
  background-color: #5e5e5e;
  color: #fff;
  border: none;
  border-radius: 5px;
}