* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
}

html, body {
    height: 100%;
    background-color: #000000;
}

.card{
    background-color: #4b0a0a;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #fff;
}

.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #8a7979;
    border-bottom: 1px solid #fff;
    padding: 20px;
    margin: 5px;

}