*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
}

.counter{
 display: flex;
 align-items:  center;
 justify-content: center;
}

.center{
  position: absolute;
  gap: 10px;
  top: 50%;
  text-align: center;
}

.btn{
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font: bold;
}